# Part 3 Data analysis

In [1]:
import pandas as pd

In [9]:
data=pd.read_csv('/Users/dkh320/Desktop/Family/Bakhtiyar/Applications/U_app_exam/ds_challenge_v2_1_data.csv')

In [13]:
data.loc[:10,]

,id,city_name,signup_os,signup_channel,signup_date,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_date
0,1,Strark,ios web,Paid,1/2/16,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Strark,windows,Paid,1/21/16,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Wrouver,windows,Organic,1/11/16,1/11/16,NaN,NaN,NaN,NaN,NaN
3,4,Berton,android web,Referral,1/29/16,2/3/16,2/3/16,Toyota,Corolla,2016.0,2/3/16
4,5,Strark,android web,Referral,1/10/16,1/25/16,1/26/16,Hyundai,Sonata,2016.0,NaN
5,6,Strark,android web,Referral,1/18/16,1/18/16,1/22/16,Cadillac,DTS,2006.0,NaN
6,7,Strark,ios web,Paid,1/14/16,1/16/16,1/21/16,Toyota,Prius V,2014.0,1/23/16
7,8,Strark,ios web,Referral,1/26/16,2/5/16,NaN,NaN,NaN,NaN,NaN
8,9,Strark,NaN,Referral,1/5/16,NaN,NaN,NaN,NaN,NaN,NaN
9,10,Berton,ios web,Paid,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Strark,ios web,Referral,1/18/16,2/9/16,2/24/16,Kia,Optima,2015.0,NaN

In [14]:
data.shape

(54681, 11)

In [15]:
data.columns

Index([u'id', u'city_name', u'signup_os', u'signup_channel', u'signup_date',
       u'bgc_date', u'vehicle_added_date', u'vehicle_make', u'vehicle_model',
       u'vehicle_year', u'first_completed_date'],
      dtype='object')

## Question 1

Creating separate data set with drivers that completed their first trip.
Assuming drivers that did not complete their first trips have NaN value for their 'first_completed_date' column.

In [98]:
driver_complete_ft = data.loc[pd.notnull(data['first_completed_date']),]

In [99]:
print driver_complete_ft['id'].size
print len(driver_complete_ft['id'])

6137
6137

The question was 'What fraction of the driver
signups took a first trip?'

The answer is the ratio of number of unique drivers in the 'driver_complete_ft' table to the number of unique drivers in the original 'data' table.

In [100]:
print 'Answer = ', round(len(driver_complete_ft['id'])/float(len(data['id'])),2)

Answer =  0.11

Only 11% of the drivers that signed up, completed their first trips in January 2015.

In [101]:
data.dtypes

id                        int64
city_name                object
signup_os                object
signup_channel           object
signup_date              object
bgc_date                 object
vehicle_added_date       object
vehicle_make             object
vehicle_model            object
vehicle_year            float64
first_completed_date     object
dtype: object

In [102]:
driver_complete_ft['signup_date'].head()

3     1/29/16
6     1/14/16
12    1/12/16
15    1/15/16
43    1/29/16
Name: signup_date, dtype: object

In [104]:
driver_complete_ft['signup_to_bgc'] = \
            (pd.to_datetime(driver_complete_ft['signup_date'],format="%m/%d/%y") - \
             pd.to_datetime(driver_complete_ft['bgc_date'],format="%m/%d/%y"))

/Users/dkh320/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [105]:
driver_complete_ft.dtypes

id                                int64
city_name                        object
signup_os                        object
signup_channel                   object
signup_date                      object
bgc_date                         object
vehicle_added_date               object
vehicle_make                     object
vehicle_model                    object
vehicle_year                    float64
first_completed_date             object
signup_to_bgc           timedelta64[ns]
dtype: object

In [109]:
driver_complete_ft.loc[:,'signup_to_bgc'].

3        -5 days
6        -2 days
12        0 days
15       -2 days
43       -1 days
45       -2 days
56       -2 days
81        0 days
84       -7 days
91        0 days
93       -3 days
96      -10 days
104     -18 days
109       0 days
113       0 days
118      -4 days
122      -2 days
124     -19 days
127      -2 days
128      -2 days
137      -3 days
146      -6 days
155       0 days
161       0 days
165       0 days
167       0 days
170      -1 days
174       0 days
175       0 days
176      -5 days
          ...
54109    -2 days
54116    -1 days
54123   -10 days
54124   -13 days
54130     0 days
54139     0 days
54140    -2 days
54157    -1 days
54175     0 days
54176    -1 days
54178    -4 days
54184    -6 days
54187    -1 days
54195    -3 days
54201     0 days
54206    -8 days
54210    -1 days
54233    -6 days
54247    -8 days
54254    -7 days
54258    -2 days
54269    -1 days
54272     0 days
54273    -3 days
54277    -6 days
54289     0 days
54290    -2 days
54303     0 days
54384     0 days
54665    -7 days
Name: signup_to_bgc, dtype: timedelta64[ns]

In [89]:
len(driver_complete_ft.first_completed_datetime)

6137

In [84]:
print dt.iloc[1], dt.iloc[0], (dt.iloc[1]-dt.iloc[0]).days

2016-01-23 00:00:00 2016-02-03 00:00:00 -11

In [85]:
driver_complete_ft.loc[pd.isnull(driver_complete_ft['vehicle_added_date']),['vehicle_added_date','first_completed_date']]

      vehicle_added_date first_completed_date
104                  NaN               2/3/16
128                  NaN              2/16/16
181                  NaN              1/25/16
913                  NaN              2/24/16
1242                 NaN              1/26/16
1285                 NaN               1/7/16
1571                 NaN               2/6/16
2069                 NaN              1/27/16
2075                 NaN              2/24/16
2091                 NaN              1/30/16
2093                 NaN              1/16/16
2352                 NaN              2/14/16
2523                 NaN              2/15/16
2552                 NaN              1/27/16
2951                 NaN              2/17/16
3254                 NaN              2/15/16
3613                 NaN              1/30/16
3702                 NaN              2/10/16
4075                 NaN              2/12/16
4109                 NaN              1/16/16
4211                 NaN              1/21/16
4487                 NaN              1/28/16
4580                 NaN              1/22/16
4700                 NaN              1/15/16
4756                 NaN              2/15/16
4876                 NaN              1/31/16
4949                 NaN              1/16/16
5022                 NaN              1/28/16
5060                 NaN               2/1/16
5114                 NaN              2/16/16
...                  ...                  ...
48180                NaN              1/23/16
48198                NaN              2/11/16
48281                NaN               1/8/16
48635                NaN               2/5/16
48811                NaN              1/31/16
49120                NaN               2/6/16
49404                NaN              1/26/16
49434                NaN               2/1/16
49454                NaN              1/16/16
50606                NaN              1/13/16
50657                NaN               2/3/16
50773                NaN              1/26/16
50859                NaN              1/15/16
51095                NaN              1/28/16
51185                NaN              1/17/16
52323                NaN              1/23/16
52480                NaN              2/15/16
52547                NaN              1/25/16
52626                NaN              1/27/16
52749                NaN              2/10/16
52762                NaN              1/28/16
52769                NaN              1/21/16
52856                NaN               2/5/16
52885                NaN               2/5/16
53029                NaN              1/31/16
53757                NaN               2/1/16
53786                NaN               2/4/16
54130                NaN              1/31/16
54384                NaN               2/9/16
54665                NaN               2/5/16

[265 rows x 2 columns]

In [57]:
driver_complete_ft.first_completed_date

3       2016-01-16
6       2016-02-05
12      2016-02-03
15      2016-01-17
43      2016-01-22
45      2016-02-01
56      2016-02-15
81      2016-01-31
84      2016-01-29
91      2016-02-05
93      2016-02-01
96      2016-02-05
104     2016-02-22
109     2016-02-04
113     2016-02-09
118     2016-01-29
122     2016-01-28
124     2016-01-19
127     2016-01-27
128     2016-02-15
137     2016-01-28
146     2016-02-02
155     2016-01-22
161     2016-01-19
165     2016-01-21
167     2016-01-09
170     2016-02-06
174     2016-01-08
175     2016-01-28
176     2016-01-24
           ...
54109          NaT
54116          NaT
54123          NaT
54124          NaT
54130          NaT
54139          NaT
54140          NaT
54157          NaT
54175          NaT
54176          NaT
54178          NaT
54184          NaT
54187          NaT
54195          NaT
54201          NaT
54206          NaT
54210          NaT
54233          NaT
54247          NaT
54254          NaT
54258          NaT
54269          NaT
54272          NaT
54273          NaT
54277          NaT
54289          NaT
54290          NaT
54303          NaT
54384          NaT
54665          NaT
Name: first_completed_date, dtype: datetime64[ns]